#attributes{
    float:right;
}

#buttons{
    width: 40%;
    margin: auto;
}

#combat{
    margin: auto;
}

#button{
    font-size: 1em;
}

#description{
    width: 50%;
    float: right;
}

#shop{
    width: 50%;
    float: left;
}


