body{
    padding-top: 5%;
    background-color: black;
}

#game{
    margin: auto;
    background-color: darkcyan;
    overflow: hidden;
    width: 75%;
    padding: 1%;
    padding-bottom: 10%;
}

#attributes{
    float:right;
}

#buttons{
    width: 30%;
    margin: auto;
}

#combat{
    margin: auto;
}

#button{
    font-size: 1em;
}

#description{
    width: 50%;
    float: right;
}

#shop{
    width: 50%;
    float: left;
}

#enemyPortrait{
    display: block;
    margin: auto;
}

#characterPortrait{
    display: block;
    margin: auto;
}

